
<div class="hero-unit container-opacity center"  id="div1" style="background-color:#DCDCDC; opacity:1;">

	<%= link_to faker_path do %>
		<div class="left_line_div left_div_shape" >
			<%= image_tag("faker.png") %>
			<hr/>
			<p class="color:black;">
				the source code analysis of faker
			</p>
		</div>
	<%end%>
	<%= link_to resume_path do %>
		<div class="left_line_div left_div_shape" >
			<%= image_tag("resume.png") %>
			<hr/>
			<p class="color:black;">
				my personal resume
			</p>
		</div>
	<%end%>
	<%= link_to db_redis_path do %>
		<div class="left_line_div left_div_shape" >
			<%= image_tag("redis.png") %>
			<hr/>
			<p class="color:black;">
				about redis
			</p>
		</div>
	<%end%>
</div>


<div class="hero-unit container-opacity homepage-link " id="div2" style=" opacity: 1; background-color:#DCDCDC;" >
			<p style="word-spacing:30px; color:#A5A5A5;">Skill
			<%= link_to "Source-Code-Analysis", source_code_path %>
			<%= link_to "DB", db_path %>
			<%= link_to "Front-end", js_path %></p>
			<hr />
			<p style="word-spacing:30px; color:#A5A5A5;">Me
			<%= link_to "resume", resume_path %>
			<%= link_to "jekyll-blog", "#" %>
			<%= link_to "everyday-positive", "#" %></p>
			<hr />
			<p style="word-spacing:30px; color:#A5A5A5;">about
			<%= link_to "contact", contact_path %>
			<%= link_to "comment", comments_path if Rails.env.development?%>
			<hr />
</div>


<div class="center bottom " >
	<div class="" id="time_div">
	</div>
</div>
</div>