
<div class="hero-unit center container-opacity"  id="div1" >
	<a href="">
		<div class="hero-unit" style=" display:inline-block; width:100px; height:150px; background-color:#A5A5A5;">
		</div>
		<div class="hero-unit" style=" display:inline-block; width:100px; height:150px; background-color:#A5A5A5;">
		</div>
		<div class="hero-unit" style=" display:inline-block; width:100px; height:150px; background-color:#A5A5A5;">
		</div>
		<div class="hero-unit" style=" display:inline-block; width:100px; height:150px; background-color:#A5A5A5;">
		</div>
	</a>
</div>


<div class="hero-unit container-opacity homepage-link " id="div2" style=" opacity: 1; background-color:#DCDCDC;" >
			<p style="word-spacing:30px; color:#A5A5A5;">Skill
			<%= link_to "Source-Code-Analysis", source_code_path %>
			<%= link_to "DB", db_path %>
			<%= link_to "Front-end", js_path %></p>
			<hr />
			<p style="word-spacing:30px; color:#A5A5A5;">Me
			<%= link_to "resume", resume_path %>
			<%= link_to "jekyll-blog", "#" %>
			<%= link_to "everyday-positive", "#" %></p>
			<hr />
			<p style="word-spacing:30px; color:#A5A5A5;">about
			<%= link_to "contact", contact_path %>
			<%= link_to "comment", comments_path %>
			<hr />
</div>


<div class="center bottom " >
	<div class="" id="time_div">
	</div>
</div>
</div>