<div class="hero-unit center">
	<%= link_to "leave your message", new_comment_path %>
	<hr/>
	<%= ip_reverse= IpReverse.reverse("119.178.225.92") %>
	<hr/>
	<table class="table table-bordered" style=" overflow:scroll;">
		<%if @comments.nil? %>
			comments nil
		<%else%>
			<% @comments.each do |f| %>
			<tr>
				<% test="just for testing now..." %>
				<th style=""> <%= request.remote_ip %></th>
				<td style=""> <%= f.content if Rails.env.development? %>
							  <%= test if Rails.env.production? %></td>
				<td> <%= f.created_at.strftime("%m/%d/%Y %H:%M") %></td>
			</tr>
			<%end%>
		<%end%>
	</table>
</div>