<div class="hero-unit">
	<h1>Faker</h1>
	<br/>
	<div class="hero-unit" style="background-color:#E2E2E2">
	<p>	As we known the faker gem can be use in a lot of applications to set data for all kinds of uses, this is just a source code analysis , more about faker 
		<a href="https://github.com/stympy/faker" target="_blank" > click here.</a> <br/></p>
		<h4>the structure of the faker : </h4>
		<pre>
<a href="#lib">  |——lib<br/>  </a>
<a href="#script">  |——script<br/> </a>
<a href="#tasks">  |——tasks<br/> </a>
<a href="#test">  |——test<br/> </a>
<a href="#website">  |——website<br/> </a>
<a href="#other"> .gitignore <br/></a>
<a href="#other"> .travis.yml <br/></a>
<a href="#other"> CONTRIBUTING.md <br/></a>
<a href="#other"> Gemfile <br/></a>
<a href="#other"> Gemfile.lock <br/></a>
<a href="#other"> History.txt <br/></a>
<a href="#other"> License.txt <br/></a>
<a href="#other"> README.md <br/></a>
<a href="#other"> Rakefile <br/></a>
<a href="#other"> faker.gemspec <br/></a>
		</pre>
	<a href="#example"> <h4>And of course , an example will be at the end of this page. hope that can do a little help for you . </h4> </a>
	</div>
	<a name="lib"></a>
	<%= render 'lib' %>
	<a name="script"></a>
	<%= render 'script' %>
	<a name="tasks"> </a>
	<%= render 'tasks' %>
	<a name="test"> </a>
	<%= render 'test' %>
	<a name="website"> </a>
	<%= render 'website' %>
	<a name="other"></a>
	<%= render 'others' %>
	<hr/>
	<a name="example"></a>
	<%= render 'faker_example' %>
	<hr/>
</div>
